S3method(plot, mixedMemModelVarInf)
S3method(summary, mixedMemModelVarInf)
S3method(plot, mixedMemModelMCMC)
S3method(summary, mixedMemModelMCMC)
export(mixedMemModelVarInf)
export(mixedMemModelMCMC)
export(mmVarInfFit)
export(computeELBO)
export(computeBIC)
export(computeAIC)
export(mmMCMCFit)
export(getPosteriorEstimates)
export(plotPosterior)
export(findLabels)
export(permuteLabels)
export(rmixedMem)
export(vizTheta)
export(vizMem)
export(theta.table)
export(entropyPlot)
export(hellingerDistances)
useDynLib(mixedMem)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rbeta", "rbinom")
